.pageContainer {
  background-image: url('http://localhost:3000/img/signup.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}



.formwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;

  label {
    text-align: left;
    margin-bottom: 5px;
    display: block;
    color: #000;
    /* Black color */
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    color: #000;
    /* Black color */
  }

  button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: gray;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.login {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.loginAsk {
  margin-top: 20px;
  color: #000;
}

.loginSpan {
  color: black;
  cursor: pointer;

}